body {
    margin: 0;
    background-color: white;
    padding-top: 65px;
    padding-bottom: 65px;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

#logo {
    height: 100%;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 30px;
}

#logo2 {
    transform: rotate();
}

#title {
    color: black;
    font-size: larger;
    font-family:cursive;
}

#mainGame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playingField {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: white;
    border-radius: 50px;
}

.holes {
    display: flex;
    justify-content: center;
    align-items: center;;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 50px;
}

.hole {
    position: absolute;
    height: 175px;
}

.pochita {
    display: none;
    position: absolute;
    height: 125px;
}

#buttons {
    display: flex;
}

button {
    margin: 15px;
    border-radius: 30px;
    border: solid black 2px;
}

#scoreCounter {
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: white;
    text-align: center;
    border: solid black 2px;
    border-radius: 50px;
}